*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Poppins", sans-serif;
}

.App{

}

/* COMMON BUTTON STYLING */

.main-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #394675;
    border-radius: 0.25rem;
    color: #394675;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.main-btn:hover {
    background-color: #394675;
    color: #fff;
}

.main-btn-alt {
    padding: 0.5rem 1rem;
    background-color: #394675;
    border: 1px solid #394675;
    color: aliceblue;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.main-btn-alt:hover {
    background-color: transparent;
    border: 1px solid #394675;
    border-radius: 0.25rem;
    color: #394675;
}


.grey-btn {
    background-color: #6c757d;
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.grey-btn:hover {
    background-color: #4c5257;
}

.createButtonSection{
    padding: 20px 0px;
    text-align: end;
}

/* NAVBAR */

/* styles.css */

.nav-container {
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 0.25rem 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-items {
    color: #49578b;
    text-decoration: none;
    font-weight: 500;
    padding: 1rem 1rem;
    margin-right: 20px;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.nav-items:hover {
    background-color: #49578b;
    color: #fff;
}

.nav-items-alt {
    color: #49578b;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.nav-items-alt:hover {
    background-color: #49578b;
    color: #fff;
}

/* ANIMATIONS FOR LANDING PAGE*/
.animate1{
    animation-name: slide-up;
    animation: 1s ease-in-out 1 normal forwards slide-up;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.animate2{
    animation-name: slide-right;
    animation: 0.5s ease-in-out 1 normal forwards slide-right;
}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate3{
    animation-name: slide-left;
    animation: 1s ease-out 1 normal forwards slide-left;
}

@keyframes slide-left {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}


/* STARTING PART OF LANDING PAGE */

.landing{
    overflow: hidden;
    width: 100%;
    position: relative;
}

.landing-start{
    height: 100%;
}

.landingstart-bg{
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.landing-start-container{
    display: flex;
    height: 100vh;
}

.landing-start-text{
    /* background-color: blue; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.landing-start-text h1{
    font-size: 50px;
    font-weight: 600;
    color: #091133;
}

.landing-start-text p{
    color: #091133;
}


.landing-start-buttons-div{
    padding-top: 80px;
    display: flex;
    width: 100%;
}

.get-started-btn{
    margin-right: 20px;
}

/* STYLING FOR ALL THE SECTIONS IN THE LANDING PAGE */
.landing-sections-text h2{
    font-weight: 600;
    color: #091133;
}

.landing-sections-text p{
    color: #091133;
}

/* STYLING SPECIFIC TO 2ND SECTION OF LANDING PAGE */

.landing-section2{
    background-image: url("./../assets/landing-page/landing2-bg.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.landing2-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 200px 100px;
}

.landing2-extra-container{
    display: flex;
    flex-direction: row;
    padding-top: 250px;
}

.landing2-extra{
    padding-right: 20px;
}

.landing2-extra h3{
    font-size: 24px;
    font-weight: 500;
    color: #091133;
}

.landing2-extra p{
    color: #091133;
}

.landing2-extra-join{
    display: none;
}

/* STYLING SPECIFIC TO 3RD, 4TH AND 5TH SECTION OF LANDING PAGE */

.landing-section3, .landing-section4, .landing-section5{
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10%;
    height: 80vh;
}

.landing-section3{
    background-image: url("../assets/landing-page/landing3-bg.png");
}

.landing-section4{
    background-image: url("../assets/landing-page/landing4-bg.png");
}

.landing-section5{
    background-image: url("../assets/landing-page/landing5-bg.png");
}

.landing3-container, .landing4-container, .landing5-container{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.landing3-text, .landing4-text, .landing5-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 0px 200px;
}

.landing3-extra-container, .landing4-extra-container, .landing5-extra-container{
    display: none;
}

/* STYLING SPECIFIC TO THE LAST SECTION OF LANDING PAGE */

.landing-section-end{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/landing-page/landingend-bg.png");
    height: 85vh;
}

.landing-end-text{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 200px;
    margin: 0px 50px;
}

.landing-end-extra{
    display: none;
}

.landing-end-extra-join{
    text-align: center;
    padding-top: 180px;
}

.landing-end-extra-join p{
    padding-bottom: 40px;
    font-weight: 300;
}

.landing-extra-btn{
    margin: 0px;
}

/* FOOTER SECTION */    

footer{
    display: flex;
    flex-direction: column;
    background-color: #67B0BF;
}

.footer-top{
    margin: 80px 50px 0px 50px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-top::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(216, 216, 216);
}

footer p{
    color: rgb(216, 216, 216);
    padding-top: 30px;
}

footer h1{
    color: #37447E;
    font-weight: 700;
}

.footer-btn{
    margin: 0%;
    max-height: 50px;
}

.footer-bottom{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.foot-nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: left;
    align-items: center;
}

.foot-nav .navbar{
    padding: 40px 0px 60px 0px;
    display: flex;
    justify-content: space-between;
}

.foot-nav .nav-links a{
    padding: 10px;
    text-decoration: none;
    color: rgb(216, 216, 216);
    font-weight: 400;
    font-size: x-large;
    margin-left: 50px;
    transition: 0.5s ease;
}

.footer-bottom .nav-links a:hover{
    color: aliceblue;
}

.footer-bottom .foot-socials{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 40px;
}

.footer-bottom .foot-socials a{
    color: white;
    text-decoration: none;
    padding: 0px 10px 0px 30px;
}



/* LOGIN PAGE */

.video-bg{
    width: 45%;
    /* background-color: #091133; */
}

.video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.login-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-content{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 55%;
    align-items: center;
    padding: 0px 30px;
}

.login-content .back{
    width: 100%;
    padding-top: 0px;
}

.login-content h1{
    font-weight: 400;
    padding-top: 100px;
}

.login-form{
    margin: 30px 0px 30px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-field{
    width: 70%;
    border: 2px solid #09113367;
}

.login-btn{
    margin-top: 40px;
}

.signup-link{
    text-decoration: none;
}

.login-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.login-socials button{
    margin: 0%;
}

.login-socials p{
    margin: 0px 20px;
}

/* SIGNUP PAGE */

.signup-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.signup-content{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 55%;
    align-items: center;
    padding: 0px 30px;
    /* background-color: #5472eb; */
}

.signup-content .back{
    width: 100%;
    padding-top: 0px;
}

.signup-content h1{
    font-weight: 400;
    padding-top: 50px;
}

.signup-form{
    margin: 10px 0px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fl-name{
    width: 100%;
}

.signup-field{
    width: 100%;
    border: 2px solid #09113367;
    margin: 10px 0px;
}

.signup-btn{
    margin-top: 30px;
    max-width: fit-content;
}

.login-link{
    text-decoration: none;
}

.signup-socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signup-socials button{
    margin: 0%;
}

.signup-socials p{
    margin: 0px 20px;
}

/* SEARCH PAGE */

.search-h1{
    font-size: 50px;
    font-weight: 600;
    color: #091133;
    margin-top: 1.5rem;
    margin-bottom: 1rem
}

.search-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.search-form button{
}

.skill-div{
    display: flex;
    flex-direction: row;
}
   
.profile-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}